[submodule "KickoffOnly"]
	path = Botpack/KickoffOnly
	url = https://github.com/VirxEC/KickoffOnly.git
[submodule "Botpack/RLBot-Beast"]
	path = Botpack/RLBot-Beast
	url = https://github.com/NicEastvillage/RLBot-Beast.git
[submodule "Botpack/Elementv5"]
	path = Botpack/Elementv5
	url = https://github.com/VirxEC/Elementv5.git
[submodule "Botpack/zero-g-script"]
	path = Botpack/zero-g-script
	url = https://github.com/swz-git/zero-g-script.git
